* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[class*="Container"] {
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 10px;
}

input:focus {
    outline: 0;
}

a {
    color: white;
    text-decoration: none;
}